@import "./breakpoints.scss";
@import "./variables.scss";


.title-list {
  margin: 40px 100px;
  color: $blue;

  @include sm {
    margin: 40px 50px;
  }
}

.list {
  padding: 0 100px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  

  @include xl {
    padding: 0 20px 40px;
  }

  button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 3px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    cursor: pointer;

    &:hover {
      color: $pinkred;
    }
  }
}

.center-button {
    display: flex;
    justify-content: center;    
  }


  .center-button-margin-top {
    display: flex;
    justify-content: center;
    margin-top: 50px;    
  }